{% extends 'base.html' %}
{% block content %}
<div class="siuu">
    <div class="container mt-5">
        <div class="row d-flex align-items-center">
          
          <div class="col-md-6">
            <h2 class="text-center">Hello Foodiesss</h2>
            <p class="text-center">
                Welcome to MeatPastas – A Culinary Journey!
    
                At MeatPastas, we pride ourselves on offering a delectable experience for meat and pasta enthusiasts alike. Our diverse menu is crafted with passion and dedication, bringing together a symphony of flavors that will tantalize your taste buds.
            </p>
          </div>
      
          
          <div class="col-md-6">
            <img src="static/logo.png" alt="Image" class="img-fluid mx-auto d-block">
          </div>
        </div>
      </div>
        
</div>
{% endblock %}