{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <h2 class="text-center mb-4">Welcome to MeatPastas – Where Passion Meets Plate!</h2>

    
    <div class="row mb-4">
        <div class="col-lg-6">
            <h3>Our Story:</h3>
            <p>MeatPastas is born out of a shared love for exquisite meats, hearty pastas, and creating memorable dining experiences. We set out with a simple idea – to offer a haven for those who appreciate the artistry of well-prepared meals and the joy of shared moments around the table.</p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'chefs.webp' %}" alt="Our Story" class="img-fluid rounded-end-circle" style="max-height: 300px;">
        </div>
    </div>

    
    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-center">
            <h2>Contact Us</h2>
            <p>If you have any questions or inquiries, feel free to reach out to us:</p>
            <p>Email: info@meatpastas.com</p>
            <p>Phone: +88 01703645713</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6 offset-lg-3 text-center">
            <h2>Thank You!</h2>
            <p>Thank you for being part of the MeatPastas family – where passion meets plate, and every bite is a celebration!</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12 text-center">
            <img src="{% static 'restu.jpg' %}" alt="Additional Image" class="img-fluid rounded-circle">
        </div>
    </div>
    <div class="row mt-4">
        
    </div>
</div>

{% endblock %}
